*{
    padding: 0;
    margin: 0;
    background: none;
    box-shadow: none;
}

window#waybar {
    font-family: 'JetBrainsMonoNerdFont';
    font-weight: bold;
    color: rgba(235, 222, 208, 0.95);
}

#network{
    font-size: 18px;
    padding: 5px;
    background: rgba(0, 0, 0, 0.6);
    padding-right: 15px; 
}

#custom-sound{
    font-size: 18px;
    padding: 5px;
    background: rgba(0, 0, 0, 0.6);
    padding-left: 15px;
    padding-right: 15px;
}

#custom-computer{
    font-size: 18px;
    padding: 5px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px 0px 0px 10px;
    padding-left: 15px;
    padding-right: 15px;
}

#battery{
    font-size: 18px;
    padding: 5px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 0px 10px 10px 0px;
    padding-left: 15px;
    padding-right: 15px;
}

#clock{
    padding: 5px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

#custom-weather{
    font-size: 18px;
    padding: 5px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 0px 10px 10px 0px;
    padding-left: 15px;
    padding-right: 25px;
}

#taskbar{
    padding: 2px 5px 2px 5px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

#taskbar button{
    padding: 0px 5px 0px 5px;
    border: none;
    border-radius: 10px;
    transition: 0.2s;
}

#taskbar button.active {
    background-color: rgba(240, 248, 255, 0.1);
}

#taskbar button:hover {
    background-color: rgba(240, 248, 255, 0.2);
}

tooltip {
    background: rgba(0, 0, 0, 0.8);
}

